/*.jar
/.project
/*.project
/.settings
/*.settings
/.classpath
/*.classpath
/bin/**
/.idea/**
/*.fxbuild
**/.MF
/.tern-project
/target/**
/deployments/**
*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.loadpath